<div class="ui inverted card">
    <div class="content">
        <img class="ui centered big image" src="image.jpg" style="border: 6px solid #1B1C1D;">
        <iframe class="ui centered big image" width="100%" height="100%" style="border: 6px solid #1B1C1D;"
            src="https://thingspeak.com/channels/1619210/maps/channel_show"></iframe>
    </div>
</div>