<table class="ui fixed table">
    <thead>
        <tr>
            <th>id</th>
            <th>temp</th>
            <th>pressure</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>
                {{_id}}
            </td>
            <td>
                {{temp}}
            </td>
            <td>
                {{pressure}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>