
<h1 class="ui centered header">Weatherpi.ie</h1>
<div class="ui four item menu">
        <a id="home" class="item" href="/"> <i class="home icon"></i>Home</a>
        <a id="thingspeak" class="item" href="/thingspeak"> <i class="comment alternate outline icon"></i>ThingSpeak</a>
        <a id="archive" class="item" href="/archive"> <i class="history icon"></i>Archive</a>
        <a id="how" class="item" href="/howitsmade"> <i class="hammer icon"></i>How it's made</a>
</div>

<script>$("#{{id}}").addClass("active blue item");</script>
