{{> menu id='archive' }}

<section class="ui segment">
  <h1 class="ui horizontal center aligned divider header">{{title}}</h1>
  <section class="ui segments">
    {{#each data}}
    <div class="ui segment">
      <a class="ui fluid button" href="/archive/{{name}}">{{name}}</a>
    </div>
    {{/each}}
  </section>
</section>