{{> menu id='home' }}


<section class="ui segment">
  <h1 class="ui horizontal center aligned divider header">Ballinrobe</h1>
<section class="ui segment">
  <div class="ui two cards">
    {{> lastreading}}
    {{> image}}
  </div>
  {{> listreadings}}
</section>