{{> menu id='how' }}

<section class="ui segment">
  <h1 class="ui horizontal center aligned divider header">{{title}}</h1>
    <section class="ui segments">
    <div class="ui segment">
      <a class="ui fluid button" href="/howitsmade/weatherstation">Weather Station</a>
    </div>
    <div class="ui segment">
      <a class="ui fluid button" href="/howitsmade/webserver">Web Server</a>
    </div>
  </section>
</section>