{{> menu id='thingspeak' }}

<section class="ui segment">
  <h1 class="ui horizontal center aligned divider header">{{title}}</h1>
  <p class="ui center aligned segment"><a href="https://thingspeak.com/channels/1619210">https://thingspeak.com/channels/1619210</a></p>
  <section class="ui center aligned inverted segment">
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/1619210/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/1619210/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/1619210/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/1619210/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/1619210/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/1619210/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  </section>
</section>